.contenedor{    
    padding-right: 180px;
    padding-left: 180px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
  .contenedor {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .contenedor {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .contenedor {
    width: 1170px;
  }
}

.deg{
    background: rgba(0,0,0,1);
background: -moz-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 24%, rgba(0,0,0,1) 36%, rgba(0,0,0,1) 43%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(9%, rgba(0,0,0,1)), color-stop(24%, rgba(0,0,0,1)), color-stop(36%, rgba(0,0,0,1)), color-stop(43%, rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,1)), color-stop(51%, rgba(255,255,255,1)), color-stop(73%, rgba(255,255,255,1)), color-stop(88%, rgba(255,255,255,1)), color-stop(99%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 24%, rgba(0,0,0,1) 36%, rgba(0,0,0,1) 43%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 24%, rgba(0,0,0,1) 36%, rgba(0,0,0,1) 43%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 24%, rgba(0,0,0,1) 36%, rgba(0,0,0,1) 43%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 24%, rgba(0,0,0,1) 36%, rgba(0,0,0,1) 43%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=1 );
}
/*.menu {
  background-color: #174057;
  border-color: #080808;
}

.menu > li > a {
  color: #fff;
}
.menu .navbar-nav > li > a {
  color: #fff;
}
.menu .navbar-nav > li > a:hover,
.menu .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.menu .navbar-nav > .active > a,
.menu .navbar-nav > .active > a:hover,
.menu .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #080808;
}
.menu .navbar-nav > .disabled > a,
.menu .navbar-nav > .disabled > a:hover,
.menu .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}*/

/*===========================
  --- Header & menu ----
=========================== */

.navbar {
	line-height: 100px;
	height: 100px;
	/*background-color: rgba(5,42,2,0.4);*/
	display: block;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 0;
	padding-bottom:0;
}

.navbar .navbar-collapse {
	margin-bottom: 0;
	padding-bottom:0;
	margin-right:20px;
}

/*--Responsive--*/

@media (max-width: 1199px){
.navbar .navbar-collapse {
	margin-bottom: 0;
	padding-bottom:0;
	margin-left:-15px;
	margin-top: -20px;
	width:160px;
}
.navbar .navbar-nav > .active > a {
	padding-bottom: 0px;
}
.row-slider{
height: auto;
}
}

.nav li {
	height: 100%;
	line-height: 100%;
	margin-bottom: 0;
	padding-bottom:0;
}

.nav>li>a {
	display: table-cell;
	height: 100%;
	line-height: 100%;
	vertical-align: middle;
	color: #fff;
	font-weight: 0;
	font-size: 12px;
	letter-spacing: .1em;
	text-transform: uppercase;
	
}

.nav>li>a:hover {
	color: #fff;
	background: none;
}

.navbar-nav {
	float: right;
	margin-bottom: 0;
	padding-bottom:0;	
}

.navbar .navbar-nav > .active > a {
	color: #fff;
}
.navbar .navbar-nav > .active > a {
	padding-bottom: 15px;
}

h1 a.navbar-brand {
	font-size: 24px;
	color: #fff;
	font-weight: 300;
	text-shadow: none;
	margin-left: 40px;
}

.navbar-brand {
	padding: 0;
	display: table-cell;
	vertical-align: middle;
	line-height: 90px;
}

.navbar-brand img {
	vertical-align: middle;
}

.navbar-toggle {
	padding: 0;
	margin: 0;
	width: 80px;
}

.navbar-collapse.in {
	margin-top: -5px !important;
}
/* */
.footer{	
	background-color: #0B0A0A;	
  	font-family: fontawesome;
  	font-size: 16px;
  	line-height: 24px;
  	letter-spacing: 1px;
  	text-align: center;
  	color: white;
  	padding-top: 20px;
}

.footer > a, a:hover{
	color: #626262;
	text-decoration: none;
}

/* Slider */

.container {
    margin-top: 20px;
}

/* Carousel Styles */
.carousel-indicators .active {
    background-color: #2980b9;
}

.carousel-inner img {
    width: 100%;
    max-height: 460px;
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control.left span {
	padding: 4px;
}

.carousel-control.right span {
	padding: 4px;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 20px;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 24px;
}

.carousel-control.left span,
.carousel-control.right span {
	background-color: transparent;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
    background-color: #2980b9;
	padding: 10px;
}

.header-text h3 span {
	background-color: #000;
	padding: 15px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
	
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
	
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
	
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
	
}
.social-network a.icoVimeo:hover {
background-color:#0590B8;
	
}
.social-network a.icoLinkedin:hover {
background-color:#007bb7;
	
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, 
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#0B3AA6;
}

li{
	list-style: none;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
